[submodule "model"]
	path = model
	url = https://github.com/DeadLineFighter/model.git
	branch = maina
[submodule "template"]
	path = template
	url = https://github.com/DeadLineFighter/template.git
	branch = main